# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

# Virtual environment
.venv/
.venv/Lib/
.venv/Scripts/
.venv/bin/
.venv/include/
.venv/pyvenv.cfg

# VS Code
.vscode/

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db
